body {
  background-color: rgba(32,32,32);
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}
#PageHeader {
  position: fixed;
  top: 0%;
  left: 50%;
  translate: -50% 0%;
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  z-index: 99;
  background: linear-gradient(
    to bottom, 
    #151515, 
    transparent
  );
  #Logo {
    font-family: 'Dela Gothic One';
    font-size: 2.5rem;
    color: #266ff4e0;
    line-height: 1;
    transition: .35s;
    text-shadow: 
      0 0 1rem #202020,
      0 0 2.5rem #05050590;
      &:hover{
        cursor:pointer;
        filter:
          drop-shadow(0 0 .25rem #266ff450)
          drop-shadow(0 0 .5rem #266ff4e0);
      }
  }
  .ContentWrapper {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
  }
}
#root {
  position: relative;
  &,*{
    margin: none;
    padding: none;
    box-sizing: border-box;
  }
  h1,h2,h3,p{&,*{
    margin: 0 !important;
  }}
  width: 100%;
  &::selection {
    background: #fff;
    color: #050505;
  }
}
header {
  height: 100dvh;
  width: 100%;
  padding: 2rem;
  padding-top: 4.5rem !important;
  position: relative;
  background: linear-gradient(
    to bottom,
    #151515,
    #050505
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.homepage {
    height: 120dvh !important;
    padding-top: 6.5rem !important;
    padding-bottom: 4rem !important;
  }
  &::after {
    content: "";
    width: 100%;
    height: 2.5rem;
    z-index: 20;
    position: absolute;
    bottom: 0%;
    left: 50%;
    translate: -50% 0%;
    background: linear-gradient(
      to bottom,
      transparent,
      #050505
    );
  }
}
.CenterWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.SectHeader {
  font-family: 'Dela Gothic One';
  color: #266ff4;
  width: 100%;
  font-size: 4.5rem;
  line-height: 1;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #45454595;
  filter: 
    drop-shadow(0 0 .5rem #266ff450)
    drop-shadow(0 0 5rem #266ff430);
}
.PageTextHeader {
  font-family: 'Dela Gothic One';
  color: #266ff4;
  width: 100%;
  font-size: 6.5vw;
  line-height: 1;
  text-align: center;
  filter: 
    drop-shadow(0 0 .5rem #266ff450)
    drop-shadow(0 0 5rem #266ff430);
}
.SectPara {
  font-family: "Funnel Display";
  font-weight: 300;
  font-size: 1.5rem;
  color: rgba(220,220,220,.65);
  filter: 
    drop-shadow(0 0 .5rem #ffffff50)
    drop-shadow(0 0 5rem #ffffff30);
}
.Section {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #050505;
  &::before {
    content: "";
    width: 100%;
    height: 2.5rem;
    z-index: 20;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0%;
    background: linear-gradient(
      to top,
      transparent,
      #050505
    );
  }
  &::after {
    content: "";
    width: 100%;
    height: 2.5rem;
    z-index: 20;
    position: absolute;
    bottom: 0%;
    left: 50%;
    translate: -50% 0%;
    background: linear-gradient(
      to bottom,
      transparent,
      #050505
    );
  }
}
.ContentWrapper {
  height: 100%;
  width: clamp(10vmin, max(150vmin, 80vw), calc(100dvw - 4rem));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}
.RowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  height: 100%;
  width: 100%;
  .RowItem {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    position: relative;
  }
}
.icon {
  font-size: 16.5rem;
  color: #ffffffe0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  filter: 
    drop-shadow(0 0 .5rem #266ff450)
    drop-shadow(0 0 5rem #266ff4);
  transition: .35s;
  &:hover {
    filter: 
      drop-shadow(0 0 .5rem #266ff450)
      drop-shadow(0 0 2.5rem #266ff4e0)
      drop-shadow(0 0 5rem #266ff4);
    scale: 125%;
    rotate: 10deg;
  }
}
.GridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-grow: 1;
  width: 100%;
  filter: drop-shadow(0 0 2.5rem #45454545);
  .GridItem {
    // background: #151515;
    background: radial-gradient(
      ellipse at 50% 0%,
      #252525,
      #151515
    );
    border: 1px solid #45454595;
    border-radius: .5rem;
    padding: .5rem .75rem;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    h2 {
      font-family: 'Dela Gothic One';
      color: #e0e0e0;
      font-size: min(1.35rem,2vw);
      line-height: 1;
      font-weight: 400;
      // padding-bottom: .5rem;
    }
    .SchoolName {
      font-family: "Funnel Display";
      font-weight: 300;
      font-size: .875rem;//max(.875rem,1.125vw);
      line-height: 1;
      color: #c0c0c0;
      user-select: none;
      cursor: pointer;
      transition: .25s;
      &:hover {
        color: #266ff4;
      }
    }
  }
}
a {
  cursor: pointer;
  color: #266ff4;
  text-decoration: none;
  transition: .25s;
  &:hover {
    color: #fff;
  }
}
.grid {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-size: 40px 40px;
  z-index: 99;
  background: pink;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}